footer 
{
  font-size: small;
} 

body 
{
  margin:1em;
  margin-top: .5em;
  padding:1em;
}

form
{
  width: fit-content;
}

hr
{
  border: solid;
}

fieldset
{
  border-style: solid;
  width: fit-content;
  float: left;
}

.clearfloat
{
  clear: both;
}

select, input[type=text],input[type=password] {
  padding: .3em .3em;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input:focus 
{
  border: 3px solid #555;
}

[type="button"],[type=submit]
{
  border-radius: 2px;
  border: none;
  padding: .5em .8em;
  text-decoration: none;
  cursor: pointer;
}

table
{
  clear: both;
}

input[type=submit]
{
  background-color: #4CAF50;
  color: white;
}

.nav
{
  background-color:lightgreen;
}

.deactivate[type=submit]
{
  background-color: #f1f1f1;
  color: black;
  padding: .2em .2em;
}

#logout
{
  background-color: lightcoral;
  color: black;
}